apiVersion: apps/v1
kind: Deployment
metadata:
  name: strimzi-cluster-operator
  labels:
    app: strimzi
spec:
  replicas: 1
  selector:
    matchLabels:
      name: strimzi-cluster-operator
      strimzi.io/kind: cluster-operator
  template:
    metadata:
      labels:
        name: strimzi-cluster-operator
        strimzi.io/kind: cluster-operator
        com.company: Red_Hat
        rht.prod_name: Red_Hat_Application_Foundations
        rht.prod_ver: "2024.Q2"
        rht.comp: AMQ_Streams
        rht.comp_ver: "2.7"
        rht.subcomp: cluster-operator
        rht.subcomp_t: infrastructure
    spec:
      serviceAccountName: strimzi-cluster-operator
      volumes:
        - name: strimzi-tmp
          emptyDir:
            medium: Memory
            sizeLimit: 1Mi
        - name: co-config-volume
          configMap:
            name: strimzi-cluster-operator
      containers:
        - name: strimzi-cluster-operator
          image: registry.redhat.io/amq-streams/strimzi-rhel9-operator:2.7.0
          ports:
            - containerPort: 8080
              name: http
          args:
            - /opt/strimzi/bin/cluster_operator_run.sh
          volumeMounts:
            - name: strimzi-tmp
              mountPath: /tmp
            - name: co-config-volume
              mountPath: /opt/strimzi/custom-config/
          env:
            - name: STRIMZI_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FULL_RECONCILIATION_INTERVAL_MS
              value: "120000"
            - name: STRIMZI_OPERATION_TIMEOUT_MS
              value: "300000"
            - name: STRIMZI_DEFAULT_TLS_SIDECAR_ENTITY_OPERATOR_IMAGE
              value: registry.redhat.io/amq-streams/kafka-37-rhel9:2.7.0
            - name: STRIMZI_DEFAULT_KAFKA_EXPORTER_IMAGE
              value: registry.redhat.io/amq-streams/kafka-37-rhel9:2.7.0
            - name: STRIMZI_DEFAULT_CRUISE_CONTROL_IMAGE
              value: registry.redhat.io/amq-streams/kafka-37-rhel9:2.7.0
            - name: STRIMZI_KAFKA_IMAGES
              value: |
                3.6.0=registry.redhat.io/amq-streams/kafka-36-rhel9:2.7.0
                3.7.0=registry.redhat.io/amq-streams/kafka-37-rhel9:2.7.0
            - name: STRIMZI_KAFKA_CONNECT_IMAGES
              value: |
                3.6.0=registry.redhat.io/amq-streams/kafka-36-rhel9:2.7.0
                3.7.0=registry.redhat.io/amq-streams/kafka-37-rhel9:2.7.0
            - name: STRIMZI_KAFKA_MIRROR_MAKER_IMAGES
              value: |
                3.6.0=registry.redhat.io/amq-streams/kafka-36-rhel9:2.7.0
                3.7.0=registry.redhat.io/amq-streams/kafka-37-rhel9:2.7.0
            - name: STRIMZI_KAFKA_MIRROR_MAKER_2_IMAGES
              value: |
                3.6.0=registry.redhat.io/amq-streams/kafka-36-rhel9:2.7.0
                3.7.0=registry.redhat.io/amq-streams/kafka-37-rhel9:2.7.0
            - name: STRIMZI_DEFAULT_TOPIC_OPERATOR_IMAGE
              value: registry.redhat.io/amq-streams/strimzi-rhel9-operator:2.7.0
            - name: STRIMZI_DEFAULT_USER_OPERATOR_IMAGE
              value: registry.redhat.io/amq-streams/strimzi-rhel9-operator:2.7.0
            - name: STRIMZI_DEFAULT_KAFKA_INIT_IMAGE
              value: registry.redhat.io/amq-streams/strimzi-rhel9-operator:2.7.0
            - name: STRIMZI_DEFAULT_KAFKA_BRIDGE_IMAGE
              value: registry.redhat.io/amq-streams/bridge-rhel9:2.7.0
            - name: STRIMZI_DEFAULT_MAVEN_BUILDER
              value: registry.redhat.io/amq-streams/maven-builder-rhel9:2.7.0
            - name: STRIMZI_OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FEATURE_GATES
              value: ""
            - name: STRIMZI_LEADER_ELECTION_ENABLED
              value: "true"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAME
              value: "strimzi-cluster-operator"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_LEADER_ELECTION_IDENTITY
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: STRIMZI_CUSTOM_KAFKA_BRIDGE_SERVICE_LABELS
              value: |
                discovery.3scale.net=true
            - name: STRIMZI_CUSTOM_KAFKA_BRIDGE_SERVICE_ANNOTATIONS
              value: |
                discovery.3scale.net/scheme=http
                discovery.3scale.net/port=8080
                discovery.3scale.net/path=/
                discovery.3scale.net/description-path=/openapi
            - name: STRIMZI_CUSTOM_KAFKA_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=kafka-broker
                rht.subcomp_t=application
            - name: STRIMZI_CUSTOM_KAFKA_CONNECT_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=kafka-connect
                rht.subcomp_t=application
            - name: STRIMZI_CUSTOM_KAFKA_CONNECT_BUILD_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=kafka-connect-build
                rht.subcomp_t=application
            - name: STRIMZI_CUSTOM_ZOOKEEPER_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=zookeeper
                rht.subcomp_t=infrastructure
            - name: STRIMZI_CUSTOM_ENTITY_OPERATOR_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=entity-operator
                rht.subcomp_t=infrastructure
            - name: STRIMZI_CUSTOM_KAFKA_MIRROR_MAKER2_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=kafka-mirror-maker2
                rht.subcomp_t=application
            - name: STRIMZI_CUSTOM_KAFKA_MIRROR_MAKER_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=kafka-mirror-maker
                rht.subcomp_t=application
            - name: STRIMZI_CUSTOM_CRUISE_CONTROL_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=cruise-control
                rht.subcomp_t=application
            - name: STRIMZI_CUSTOM_KAFKA_BRIDGE_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=kafka-bridge
                rht.subcomp_t=application
            - name: STRIMZI_CUSTOM_KAFKA_EXPORTER_LABELS
              value: |
                com.company=Red_Hat
                rht.prod_name=Red_Hat_Application_Foundations
                rht.prod_ver=2024.Q2
                rht.comp=AMQ_Streams
                rht.comp_ver=2.7
                rht.subcomp=kafka-exporter
                rht.subcomp_t=application
          livenessProbe:
            httpGet:
              path: /healthy
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            limits:
              cpu: 1000m
              memory: 384Mi
            requests:
              cpu: 200m
              memory: 384Mi
